div#consult_zone {
	width: 100vw;
}

fieldset{
	border-radius: 1em;
	margin: max(1vw,1em) auto;
	width: 90%;
}

fieldset.user_info {
	background: radial-gradient(circle at top left, rgba(218, 8, 9, 0.1),rgba(255, 255, 255, 0));
	border: 2px solid rgb(218, 8, 89);
}

fieldset.reference {
	background: radial-gradient(circle at top right, rgba(16, 134, 5, 0.1),rgba(255, 255, 255, 0));
	border: 2px solid rgba(16, 134, 5, 0.9);
}

/* Legend */
legend {
	font-size: 1.2em;
	font-weight: lighter;
}
fieldset.user_info > legend {
	color: rgb(218, 8, 89);
}
fieldset.reference > legend {
	color: rgba(14, 119, 4, 0.9);
}

/* Static text */
label.static_text {
	font-weight: bold;
}

/* Force li dots to be right next to text */
li {
	list-style-position: inside;
}