/* Upper grid */

div#home_grid {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	color:grey;
	text-align: justify;
	margin-top: 0.9vw;
}

div#home_grid div {
	margin: 1.7vw;
}

div#home_grid div * {
	font-weight: lighter;
}

div#home_grid div h1 {
	margin: 0;
	font-size: max(1.9vw,1.6em);
}

div#home_grid div p {
	margin-top: 0;
	font-size: max(0.92vw,1em);
}

div#home_grid div h3 {
	margin-top: 0;
	font-size: max(1.1vw,1.15em);
}

@media (max-width: 768px) {
	div#home_grid {
	  grid-template-columns: 1fr;
	  margin: 0.4vw
	}

	div#home_grid div p {
		margin-bottom: 3vw;
	}

	div#home_grid div h1 {
		margin-bottom: 2vw;
		justify-content: center;
		text-align: center;
	}
}

/* Lower grid */

div#home_links_grid {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 3.3vw;
	gap: 1.9vw;
}
.home_box {
	border: 0.4em solid;
	width: 11.5vw;
	min-width: 8em;
	height: max(11.5vw,fit-content);
	text-decoration: none;
	color:white;
	display: flex;
  	flex-direction: column;
}
div.home_box_top_part {
	font-size: xx-large;
}
div.home_box_top_part p {
	margin: 0;
}
div.home_box_top_part p:nth-child(1) {
	font-size: max(1.5vw,0.6em);
	padding-top: 0.4em;
	padding-bottom: 0.2em;
}
div.home_box_top_part p:nth-child(2) {
	font-size: max(1.7vw,0.6em);
	padding-top: 0.2em;
	padding-bottom: 0.4em;
}
div.home_box_bottom_part {
	flex-grow: 1;
}
div.home_box_bottom_part p {
	margin: 0;
	color: grey;
	text-align: justify;
    font-size: max(1vw,0.95em);
	padding: 0.4em;
	word-wrap: break-word;
	hyphens: auto;
}

@media (max-width: 768px) {
	div#home_links_grid {
	  margin: 0.5vw;
	  margin-top: 0vw;
	}
}

a#home_link_valorisation {
	border-color: var(--jeune-color);
}
a#home_link_valorisation div.home_box_top_part {
	background-image: linear-gradient(to left, var(--jeune-color) 60%, var(--jeune-alt-color) 95%);
}
a#home_link_valorisation div.home_box_bottom_part {
	background-image: radial-gradient(circle at top left, var(--color1) 50%, var(--jeune-alt-color) 99%);
}

div#home_link_confirmation {
	border-color: var(--referent-alt-color);
}
div#home_link_confirmation div.home_box_top_part {
	background-image: linear-gradient(to left, var(--referent-color) 60%, var(--referent-alt-color) 95%);
}
div#home_link_confirmation div.home_box_bottom_part {
	background-image: radial-gradient(circle at top left, var(--color1) 5%, var(--referent-alt-color) 120%);
}

div#home_link_consultation {
	border-color: var(--consultant-color);
}
div#home_link_consultation div.home_box_top_part {
	background-image: linear-gradient(to left, var(--consultant-color) 60%, var(--consultant-alt-color) 95%);
}
div#home_link_consultation div.home_box_bottom_part {
	background-image: radial-gradient(circle at top left, var(--color1) 5%, var(--consultant-alt-color) 120%);
}
