body {
	margin: 0;
	text-align:center;
	font-family: 'Arial', sans-serif;
	overflow: auto;
}

div#welcome_background {
	margin-top:0;
	background: linear-gradient(to right, #fdfdfd, lightgrey);
	height: calc(100vh - 8em);
	min-height: 45em;
	width: 100vw;
	box-sizing: border-box;
	padding: 10px;
}

h1#motto_text {
	font-size: 3em;
	color: darkblue;
	letter-spacing: 0.05em;
	font-weight:lighter;
}

h3#motto_text_2 {
	font-size: 1.8em;
	color: darkblue;
	font-weight:lighter;
}

a#enter_button {
	font-size: 2em;
	color: red;
	text-decoration: none;
	display: inline-block;
}

div#footer_area {
	height:8em;
	display: flex;
	justify-content: center;
	align-items: center;
}

div#footer_area p {
	color:grey;
	max-width: 40vw;
	font-size: 1.07em;
	margin: 0 auto;
}